:root {
	--color-main: antiquewhite;
	--color-dark: darkolivegreen;
	--color-dark-focus: darkolivegreen;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: black;
	overflow: hidden;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: var(--color-dark);
	border-top: 1px solid var(--color-dark);
}

.label {
	color: var(--color-dark);
	font-family: monospace;
	user-select: none;
}

.label::after {
	content: '_';
	animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
